@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Teko:700');

$product-border-color: #ced4da;
$product-text-color: #656565;

.product {
  border: 1px solid $product-border-color;
}

.product-col-left {
  border-right: 1px solid $product-border-color;
  height: 150px;
  width: 150px;
  overflow: hidden;
}

.product-col-mid,
.product-title {
  /* MinWidth, um den Text abzuschneiden */
  min-width: 0;
}

.product-title * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Teko', sans-serif;
  font-weight: 700;
  font-size: 14pt;
}

.product-props-table th,
.product-props-table td {
  padding: 0;
  line-height: 1.2;
  font-size: 0.8rem;
  color: $product-text-color;
}

.star-check {
  color: red
}

.product-col-right-1 {
  border-left: 1px solid $product-border-color;
}

.product-col-right-1 > .product-source {
  width: 150px;
  object-fit: cover;
}

.product-col-right-2 {
  border-left: 1px solid $product-border-color;
}

.product-price {
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  font-size: 28pt;
  text-align: right;
  line-height: 1;
}