@import "../common";

.edit {
  //
}

.editAddress {
  //
}

.editLabel {
  margin-bottom: 0;
  height: 1em;
}

.filterContainer {
  //
}

.dist {
  margin-top: $spacing;
}

.cancel {
  //
}

.submit {
  //
}

.submitCol {
  //
}
