@import "../common";

.editWrapper {
  margin-top: $spacing;
  text-align: center;
}

.edit {
  //
}

.editAddress {
  //
}

.filterContainer {
  //
}

.dist {
  width: 100%;
  margin-top: $spacing;
}

.buttons {

  .cancel {
    //
  }

  .submit {
    //
  }

}
