@import "../../static/styles/variables";

.pageHeader {
  padding: 0 0.25rem;

  :global(.nav-item) {
    height: $default-navbar-height
  }

  :global(.navbar-brand img) {
    padding: 0.25rem;
    height: $default-navbar-height;
  }
}

// Temporary
.langFlag {
  height: 0.75rem;
}