@import "../../../static/styles/variables";

.pageHeader {
  padding: 0 0.25rem;
  background-color: $header-background !important;

  :global(.nav-item) {
    height: $default-navbar-height
  }

  :global(.navbar-brand img) {
    padding: 0.25rem;
    height: $default-navbar-height;
  }
}

@include media-breakpoint-up(xl) {
  .searchBar {
    min-width: 650px;
  }
}

.searchBar input {
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2)
}

.searchBar button {
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2)
}

// Temporary
.langFlag {
  height: 0.75rem;
}