@import "../../../styles/variables";

.innerDrop {
  // Empty
}

.innerDrop :global(.nav-link) {
  padding: 0;
  display: flex;
  align-items: center;
}

.innerDrop :global(.dropdown-toggle::after) {
  display: none;
}

.dropdownToggleCustom {
  margin-left: 0.5rem;
  color: $primary;
}

.profilepic {
  font-size: $header-height - 1rem;
  margin: 0;
  width: $header-height - 1rem;
  height: $header-height - 1rem;
}

.login {
  cursor: pointer;
}
