@import "../../styles/variables";

.pageHeader {
  height: $header-height;
  border: 0;

  .logo {
    padding: 0.25rem;
    height: $header-height - 0.25rem;
  }
}

.searchBar input {
  padding-top: 0;
  padding-bottom: 0;
}

.searchBar button {
  padding-bottom: 0;
}
