@import "../../styles/variables";

$rating-color: #fee502;
$image-width-xl: 255px;
$image-height-xl: 255px;

.container {
  height: 363px;
  padding: 0.5rem;
  transition: box-shadow .3s;
}

.container:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.imageWrapper {
  min-width: $image-width-xl;
  max-width: $image-width-xl;
  min-height: $image-height-xl;
  max-height: $image-height-xl;
  margin-bottom: 0.5rem;
}

.image {
  max-width: $image-width-xl;
  max-height: $image-height-xl;
}

.title {
  * {
    margin-bottom: 0.2rem;
    max-width: $image-width-xl;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.price {
  color: $body-color;
  font-size: 120%;
  font-weight: bold;
  margin-right: 0.15rem;
}

.market {
  color: #777;
  max-width: $image-width-xl;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ratingCount {
  color: #777;
}

.ratingFull {
  width: 1rem;
  text-align: center;
  font-weight: bold !important;
  color: $rating-color;
}

.ratingHalf {
  width: 1rem;
  text-align: center;
  font-weight: bold !important;
  color: $rating-color;
}

.ratingEmpty {
  width: 1rem;
  text-align: center;
  font-weight: 400 !important;
  color: $rating-color;
}
