@import "../../static/styles/variables";

@include media-breakpoint-up(xl) {
  .searchBar {
    min-width: 650px;
  }
}

.searchBar input {
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5)
}

.searchBar button {
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5)
}