@import "../static/styles/styles";

.container {
  padding-top: $real-navbar-height;
  padding-left: $filter-menu-width-xl;
  padding-bottom: 53.6px;
  margin-bottom: -53.6px;
  max-width: 100% !important;
  min-height: 100vh;
}