.searchButton {
  text-transform: none;
  font-weight: bold;
  font-size: 1rem;
}

.searchField {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  padding-left: 2.5rem;
  background: white url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAABCFBMVEUAAAAzmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmdszmds1tA8PAAAAV3RSTlMAAQIDBAYHCw4PERMUGBseIyQmKCksLjEzNDU3ODo7PENGR05PUFRXW11kZnBxdXd/gIKDkZ2eoKWor7C0t7m8xcfIyszO0dPV19re4OTm6evt7/H19/ntlmEiAAABOElEQVQYGX3BCSMCURgF0DtTTSghITuh7OtESnYKjWSZ+///ie89NUs1zoFnbP34sl45Wk1iqJlH9tQyGDB6w6ByAmG5b4a10gia5QA3Dd/YD5XXwoiJWKrUodJKwPNEZcfAn9gplTJ6lqjMw7dNJYOuFkURQWcUNfyZoLhHSKxDkYS2SzGHsBLFKrQqRRxhKYojaA7JNvrEKCrQXJJ36EdRh9Ym6aCPSXEB7ZrCRNgIxQm0A4oswgoUa9ByFFWEGK8UKWjGF0UeQTsUj+jaonDH4Vugsowu06Fw8+gpUrmFZ5JaNWsCiM89UDuHb5Ndzt0HPTZ8mxzGhm/SYVDzhYoNn7HxyZ73DcNqUrERYEzv19vu29XelAHAalKxEclqULERyWpQWUEkq0FxgGjWM8kc/hE/rCziF8m9fWG4iWOGAAAAAElFTkSuQmCC") no-repeat 1rem center;
  background-size: 16px;
}
