@import "../../static/styles/_variables.scss";

.innerDrop .nav-link {
  padding: 0;
  display: flex;
  align-items: center;
}

.innerDrop .dropdown-toggle::after {
  display: none;
}

.dropdown-toggle-custom {
  margin-left: 0.5rem;
  color: $primary;
}

.dropdown-disabled {
  color: rgba(0, 0, 0, 0.3);
}