// Farben
$primary: #3399db;
$header-background: #f3f3f3;

// Größen
$default-navbar-height: 2.5rem;
$filter-menu-width-xl: 25rem;

// Funktionen und Variablen
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
