@import "../../styles/variables";

$spacing: 10px;

.filterContainer {
  border: 0;
  border-bottom: $border-width solid $border-color;

  :global(.form-label) {
    margin-bottom: 0.25rem;
  }

}

.submit {
  //
}

.cancel {
  margin-right: $spacing;
}

.submitCol {
  display: flex;
  flex-direction: row-reverse;
  margin: $spacing 0 $spacing $spacing;
}
