@import "../../styles/variables";

$spacing: 10px;

.edit {
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
}

.filterContainer {
  border: 0;
  background: #40444A;
  color: #DDDDDD;
  padding: 1rem;
  margin: $spacing 2px 2px;

  :global(.form-label) b {
    margin-bottom: 0.25rem;
  }

}

.filterContainer:first-child {
  margin-top: 0;
}

.submit {
  //
}

.cancel {
  margin-right: $spacing;
}

.submitCol {
  display: flex;
  flex-direction: row-reverse;
  margin-top: $spacing;
}
