@import "../../../../static/styles/variables";

.innerDrop {
}

.innerDrop :global(.nav-link) {
  padding: 0;
  display: flex;
  align-items: center;
}

.innerDrop :global(.dropdown-toggle::after) {
  display: none;
}

.dropdownToggleCustom {
  margin-left: 0.5rem;
  color: $primary;
}

.dropdownDisabled {
  color: rgba(0, 0, 0, 0.3);
}
