:global {
  html,
  body,
  body > div:first-child,
  div#__next,
  div#__next > div {
    height: 100%;
  }
}

.rootContainer {
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
