:global {
  html,
  body,
  body > div:first-child,
  div#__next,
  div#__next > div {
    height: 100%;
  }
}

.rootContainer {
  background: white url("/static/background_main.jpg");
  background-size: cover;
}
