@import "../styles/variables";

.page {
  height: 100%;

  :global(.header) {
    border-bottom: $border-width solid $border-color;
    margin-left: $filter-menu-width-xl;
  }

}

.content {
  // Exclude Top and Bottom NavBars
  padding-bottom: $header-height;

  // Exclude Bottom NavBar, because it is not fixed bottom
  margin-bottom: -$header-height;
  margin-top: -$header-height;

  display: flex;
  flex-direction: row;
  height: 100%;
}

.logo {
  height: $header-height - 0.25rem;
  padding: 0.25rem;
}

.filterContainer {
  width: $filter-menu-width-xl;
  height: 100%;
  background: $header-background;
  border-right: $border-width solid $border-color;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;

  .filter {
    padding: 1rem;
  }

}

.container {
  padding-top: $header-height;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: scroll;
  overflow-x: hidden;
}
