@import "../styles/variables";

.container {
  padding-top: $header-height;
  padding-left: $filter-menu-width-xl;
  padding-bottom: $header-height;
  margin-bottom: -$header-height;
  max-width: 100% !important;
  min-height: 100vh;
}

.filterContainer {
  position: fixed;
  margin-top: $header-height;
  margin-bottom: $header-height;
  left: 0;
  width: $filter-menu-width-xl;
  height: 100vh;
  background: $header-background;
}
