@import "../common";

.filterContainer {

  .rangeContainer {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  :global(.input-range__label--max),
  :global(.input-range__label--min) {
    display: none;
  }

  :global(.input-range) {
    margin-top: 1.25rem;
    margin-bottom: 0;
  }

}
