@import "../common";

.filterContainer {

  .rangeContainer {
    display: flex;
    padding-top: 1rem;
    flex-direction: row;

    .range {
      min-width: 0;

      input {
        padding-right: 0.25rem;
        padding-left: 0.5rem;
      }
    }

    .separator {
      width: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}
