@import "../common";

.filterContainer {

  .rangeContainer {
    display: flex;
    padding-top: 1rem;
    flex-direction: row;
    margin: $spacing $spacing/2 0;

    :global(.input-range__label--max),
    :global(.input-range__label--min) {
      display: none;
    }

  }

}
